<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.team2.mapper.ReviewMapper">
	<resultMap type="com.itwill.team2.domain.Review" id="reviewResultMap" autoMapping="true">
		<id column="review_no" property="reviewNo" />
		
		<association property="user" javaType="com.itwill.team2.domain.User" autoMapping="true">		
			<result column="user_no" property="userNo"/>
		</association>
		
		<association property="product" javaType="com.itwill.team2.domain.Product" autoMapping="true">
			<result column="product_no" property="productNo"/>
		</association>
		
		<collection property="reviewImages" javaType="java.util.List" ofType="com.itwill.team2.domain.ReviewImage" autoMapping="true">
			<id column="review_image_no" property="reviewImageNo"/>	
		</collection>
			
	</resultMap>
	
	

	<insert id="insertReview"
		parameterType="com.itwill.team2.domain.Review"> 
		INSERT INTO Review (review_no, review_title, review_content, review_score, review_score_text, review_date, user_no, product_no)
		VALUES (review_review_no_SEQ.NEXTVAL, #{reviewTitle}, #{reviewContent}, #{reviewScore}, #{reviewScoreText}, SYSDATE, #{user.userNo}, #{product.productNo})
	</insert>
	
	<delete id="deleteReviewByNo" parameterType="int"> 
		DELETE FROM review WHERE review_no = #{reviewNo}
	</delete>
	
	<delete id="deleteAllByUserNo" parameterType="int"> 
		DELETE FROM review WHERE user_no = #{userNo}
	</delete>
	
	<update id="updateReview"
		parameterType="com.itwill.team2.domain.Review"> 
		UPDATE review SET 
			review_title = #{reviewTitle}, 
			review_content = #{reviewContent}, 
			review_score = #{reviewScore},
			review_score_text = #{reviewScoreText},
			review_date = SYSDATE
		WHERE review_no = #{reviewNo}
	</update>
	
	
	<select id="findReviewByProductNoByDate" parameterType="int"
		resultMap="reviewResultMap"> 
		SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE,  
        u.user_name, 
        p.product_no, 
        ri.review_image_no, ri.review_image_name
		FROM review r join users u
        on r.user_no = u.user_no
        join product p
        on r.product_no = p.product_no
        left join review_image ri
        on r.review_no = ri.review_no 
		WHERE r.PRODUCT_NO = #{productNo}
		order by r.review_date asc
	</select>	
	
	<select id="findReviewByProductNoByNew" parameterType="int"
		resultMap="reviewResultMap"> 
		SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE,  
        u.user_name, 
        p.product_no, 
        ri.review_image_no, ri.review_image_name
		FROM review r join users u
        on r.user_no = u.user_no
        join product p
        on r.product_no = p.product_no
        left join review_image ri
        on r.review_no = ri.review_no 
		WHERE r.PRODUCT_NO = #{productNo}
		order by r.review_date DESC
	</select>
	
    <select id="findReviewByUserNo" parameterType="int"
    	resultMap="reviewResultMap">
    	SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE, r.USER_NO, r.PRODUCT_NO, ri.*
		FROM review r
		left join review_image ri
		on r.review_no = ri.review_no
		WHERE USER_NO = #{userNo}
		order by r.review_No DESC
    </select>

	<select id="findReviewDetailByReviewNo" parameterType="int"
		resultMap="reviewResultMap"> 
		SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE, r.USER_NO, r.PRODUCT_NO, ri.*
		FROM review r
		left join review_image ri
		on r.review_no = ri.review_no
		WHERE r.REVIEW_NO = #{reviewNo}
		
	</select>
	
	<select id="findReviewByProductNoOrderByScore" parameterType="int"
		resultMap="reviewResultMap">
		SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE,  
        u.user_name, 
        p.product_no, 
        ri.review_image_no, ri.review_image_name
		FROM review r join users u
        on r.user_no = u.user_no
        join product p
        on r.product_no = p.product_no
        left join review_image ri
        on r.review_no = ri.review_no 
		WHERE r.PRODUCT_NO = #{productNo}
		order by r.REVIEW_SCORE DESC, r.REVIEW_NO DESC
	</select>
	
	<select id="findReviewListAll" resultMap="reviewResultMap">
        SELECT r.REVIEW_NO, r.REVIEW_TITLE, r.REVIEW_CONTENT, r.REVIEW_SCORE, r.REVIEW_DATE, r.USER_NO, u.*, r.PRODUCT_NO, p.*, ri.*
		FROM review r join users u
        on r.user_no = u.user_no
        join product p
        on r.product_no = p.product_no
        left join review_image ri
        on r.review_no = ri.review_no 
        order by r.review_No DESC
    </select>
    
    <select id="findProductNoByReviewCount" parameterType="int" resultType="int">
    	select count(*) from review where product_no = #{productNo} and review_score = #{reviewScore}
    </select>
	

	 
	 
	<insert id="insertReviewImage"
		parameterType="com.itwill.team2.domain.ReviewImage"> 
		INSERT INTO review_image (REVIEW_IMAGE_NO, REVIEW_IMAGE_NAME, REVIEW_NO) 
		VALUES (REVIEW_IMAGE_REVIEW_IMAGE_NO_SEQ.NEXTVAL, #{reviewImageName}, review_review_no_seq.currval)
	</insert>
	
	<insert id="insertReviewImageForUpdate"
		parameterType="com.itwill.team2.domain.ReviewImage"> 
		INSERT INTO review_image (REVIEW_IMAGE_NO, REVIEW_IMAGE_NAME, REVIEW_NO) 
		VALUES (REVIEW_IMAGE_REVIEW_IMAGE_NO_SEQ.NEXTVAL, #{reviewImageName}, #{review.reviewNo})
	</insert>
	
	<delete id="deleteReviewImageByReviewImageNo"
		parameterType="int"> 
		DELETE FROM review_image WHERE review_image_no = #{reviewImageNo}
	</delete>
	
	<delete id="deleteAllImageByReviewNo" parameterType="int"> 
		DELETE FROM review_image 
		WHERE review_no = #{reviewNo}
	</delete>
	
	<update id="updateReviewImage" parameterType="com.itwill.team2.domain.ReviewImage">
		UPDATE review_image
		SET REVIEW_IMAGE_NAME = #{reviewImageName}
		WHERE REVIEW_IMAGE_NO = #{reviewImageNo}
	</update>
	
	<select id="findReviewImageByReviewNo" parameterType="int"
		resultType="com.itwill.team2.domain.ReviewImage"> 
		SELECT REVIEW_IMAGE_NO, REVIEW_IMAGE_NAME, REVIEW_NO 
		FROM review_image 
		WHERE REVIEW_NO = #{reviewNo}
	</select>

</mapper>