<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="./css/index.css?ver=3">
    <script src="./js/index.js"></script>

</head>
<body>
    <div class="wrap">
        <header>
            <!-- 로고 -->
            <div class="hd_container">
                <div class="top_logo">
                    <a href=""><img src="img/header/top_logo_pc.png" alt=""></a>
                </div>
                <div class="top_menu">
                    <ul class="top_menu_dep1">
                        <!-- <li> 하나당 카테고리분류1개 -->
                        <li><a href="">베스트</a></li>
                        <li><a href="">신상품</a></li>
                        <li><a href="">여성</a>
                            <div class="top_menu_dep2_container">
                                <div class="top_menu_dep2_innerContainer">
                                    <ul class="top_menu_dep2_01">
                                        <li><a href="">베스트</a></li>
                                        <li><a href="">신상품</a></li>
                                    </ul>
                                    <ul class="top_menu_dep2_02">
                                        <li><a href="">신상품</a></li>
                                        <li><a href="">아우터</a></li>
                                        <li><a href="">상의</a></li>
                                        <li><a href="">하의</a></li>
                                    </ul>
                                    <ul class="top_menu_dep2_03">
                                        <li>
                                            <img src="img/product/024110f45ce6d4d2dee098e519435d48.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/product/053f0f2c7e5aaa2475e6e69bf165223c.jpg" alt="">
                                        </li>
                                        <li>
                                            <img src="img/product/07edcc45d97465c73c4b3c512d725244.jpg" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- (회원가입,로그인),검색,찜리스트,바구니 -->
                <div class="top_menber">
                    <ul>
                        <li class="top_menuUserIcon">
                            <a href=""><img src="img/header/top_mypage.png" alt="" class="top_menber_bt_bk"></a>
                            <div>
                                <a href="">LOGOUT</a>
                                <a href="">MYPAGE</a>
                            </div>
                        </li>
                        <li>
                            <a href=""><img src="img/header/top_search.png" alt="" class="top_menber_bt_bk"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/header/top_wish.png" alt="" class="top_menber_bt_bk"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/header/top_cart_pc.png" alt="" class="top_menber_bt_bk"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <main>
            <div class="prodDetailcontainer">
                <div class="prodDetailArea01">
                    <div class="prodDetailPopup">
                        <h4>장바구니에 상품을 담았습니다</h4>
                        <div>
                            <a href="#" class="cartgo">바로가기</a>
                            <a href="#" class="shopping">계속쇼핑하기</a>
                        </div>
                    </div> 
                    <div class="prodDetailImg">
                        <div class="prodDetailTitleimgSweper">
                            <ul class="prodDetailTitleimg swiper-wrapper">
                                <li class="swiper-slide"><img src="./img/product/0d2aa3c3aa408c73e070633ea36d8076.jpg" alt=""></li>
                                <li class="swiper-slide"><img src="./img/product/1069d6f212ac9cb89445d2ec73e9ee54.jpg" alt=""></li>
                                <li class="swiper-slide"><img src="./img/product/13b8d519a09dfe0f0756eff20764d323.jpg" alt=""></li>
                                <li class="swiper-slide"><img src="./img/product/13fb16d68f941efba4e1696aaeac956d.jpg" alt=""></li>
                            </ul>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <div class="prodDetailDetailimgBox">
                            <ul class="prodDetailDetailimg">
                                <li><img src="img/productDt/b00cb515-b44a-423e-b623-ee250823e4c1.jpg" alt=""></li>
                            </ul>
                        </div>
                        <div class="prodDetailDetailimg_more">
                            <a href="#none">상품설명 더보기</a>
                        </div>
                    </div>
                    
                    <div class="prodDetailAreaFix">
                        <div class="prodDetailAreaFixTxtBox">
                            <span>[먼작귀] 먼가 따뜻한 수면 파자마</span>
                            <br>
                            <span>49,900원</span>
                        </div>
                        <div class="prodDetailOption">
                            <span>Color</span>
                            <span class="prodDetailOptionSize">Size</span>
                            <div class="prodDetailOptionListBox">
                                <ul class="prodDetailOptionList1">
                                    <li class="prodDetailOptionList1Li">
                                        <a href="#none" class="write_bt" role="button" tabindex="0">
                                        <span>BLACK(20)</span>
                                        </a>
                                        <div class="prodDetailOptionList2Box">
                                            <ul class="prodDetailOptionList2">
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SSS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>LX(20)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="prodDetailOptionList1Li">
                                        <a href="#none" class="write_bt" role="button" tabindex="0">
                                        <span>BLACK(20)</span>
                                        </a>
                                        <div class="prodDetailOptionList2Box">
                                            <ul class="prodDetailOptionList2">
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SSS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>LX(20)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="prodDetailOptionList1Li">
                                        <a href="#none" class="write_bt" role="button" tabindex="0">
                                        <span>BLACK(20)</span>
                                        </a>
                                        <div class="prodDetailOptionList2Box">
                                            <ul class="prodDetailOptionList2">
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SSS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>SS(20)</span>
                                                    </a>
                                                </li>
                                                <li class="prodDetailOptionList2Li">
                                                    <a href="#none" class="write_bt" role="button" tabindex="0">
                                                    <span>LX(20)</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="prodDetailSelectOption">
                            <ul>
                                <li>
                                    <div class="prodDetailSelectOptionTitle">
                                        <span>[먼작귀] 먼가 따뜻한 수면 파자마</span>
                                        <br>
                                        <span class="SelectOptions"></span>
                                    </div>
                                    <div class="prodDetailSelectOptionitem">
                                        <div>
                                            <a href="#none" class="down">-</a>
                                            <span><input id="SelectQty" type="text" value="1"></span>
                                            <a href="#none" class="up">+</a>
                                        </div>
                                    </div>
                                    <div class="prodDetailSelectPrice">
                                        <span>24,900</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="prodDetailSelectButtons">
                            <div class="prodDetailSelectButtonsSave">
                                <a href="#none"><img src="img/productDt/detail_wish.png" alt="찜버튼"></a>
                            </div>
                            <div>
                                <a href="#none" class="cartAdd">
                                    <span>장바구니</span>
                                </a>
                            </div>
                            <div class="buy_now">
                                <a href="#none">
                                    <span>바로구매</span>
                                </a>
                            </div>
                        </div>
                        <div class="prodDetailSelectTotalPrice">
                            <span class="">총 상품금액</span>
                            <span><span class="prodDetailSelectTotalPriceNum">24,900</span>(1개)</span>
                        </div>
                    </div>
                </div>
                <div class="prodDetailArea03">
                    <div class="reviewHeader">
                        <span>REVIEV(리뷰개수)</span>
                    </div>
                    <div class="products_reviews">
                        <div class="products_reviewsinBox">
                            <div>
                                <span class="reviewStar">★</span><span>5</span>
                            </div>
                        </div>
                        <div class="products_reviews_tit">
                            <ul>
                                <li>
                                    <span class="products_reviews_Name">아주좋아요</span>
                                    <div class="products_reviews_score">
                                        <div class="products_reviews_score_color"></div>
                                    </div>
                                    <span>1</span>
                                </li>
                                <li>
                                    <span class="products_reviews_Name">맘에 들어요</span>
                                    <div class="products_reviews_score">
                                        <div class="products_reviews_score_color"></div>
                                    </div>
                                    <span>1</span>
                                </li>
                                <li>
                                    <span class="products_reviews_Name">보통이에요</span>
                                    <div class="products_reviews_score">
                                        <div class="products_reviews_score_color"></div>
                                    </div>
                                    <span>1</span>
                                </li>
                                <li>
                                    <span class="products_reviews_Name">그냥 그래요</span>
                                    <div class="products_reviews_score">
                                        <div class="products_reviews_score_color"></div>
                                    </div>
                                    <span>1</span>
                                </li>
                                <li>
                                    <span class="products_reviews_Name">별로에요</span>
                                    <div class="products_reviews_score">
                                        <div class="products_reviews_score_color"></div>
                                    </div>
                                    <span>1</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div>
                            <span>포토&동영상(개수)</span>
                        </div>
                        <div class="reviewsImgListBox">
                            <div class="reviewsImgListinBox">
                                <ul class="reviewsImgList swiper-wrapper">
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                    <li class="swiper-slide"><img src="img/product/ffa423c867573b708885fffe6f3cd89e.jpg" alt=""></li>
                                </ul>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="reviewListHeader">
                        <div class="reviewFilterListBox">
                            <ul class="reviewFilterList">
                                <li><a href="#none">추천순</a></li>
                                <li><a href="#none">최신순</a></li>
                                <li><a href="#none">별점순</a></li>
                            </ul>
                        </div>
                        <div>
                            <div class="reviewFilterListSearchBox">
                                <a href="#none"><img src="img/header/top_search.png" alt="검색버튼"></a>
                                <input type="text" placeholder="리뷰 키워드 검색">
                            </div>
                        </div>
                    </div>
                    <div class="reviewListBox">
                        <div class="reviewListinBox">
                            <ul>
                                <li>
                                    <div class="reviewListTitle">
                                        <div>
                                            <span class="reviewStar">★★★★★</span>
                                            <span>아주좋아요</span>
                                        </div>
                                        <span>리뷰 등록날짜</span></div>
                                    <div class="userReviewBox">
                                        <p>
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                        </p>
                                        <ul class="userReviewImgList">
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                        </ul>
                                    </div>
                                </li> <li>
                                    <div class="reviewListTitle">
                                        <div>
                                            <span class="reviewStar">★★★★★</span>
                                            <span>아주좋아요</span>
                                        </div>
                                        <span>리뷰 등록날짜</span></div>
                                    <div class="userReviewBox">
                                        <p>
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용
                                            리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용리뷰내용

                                        </p>
                                        <ul class="userReviewImgList">
                                            <!-- 최대 등록개수 9개 -->
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                            <li><img src="img/product/0b35d1f28d132ee4e93355f7e5070b55.jpg" alt="리뷰사진"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="ftContainer">
                <div class="ftSection01">
                    <span>111-222</span>
                    <br>
                    <span>상담시간:안해줘</span>
                    <br>
                    <span>email:babo1@naver.com(단체주문 문의)</span>
                </div>
                <div class="ftSection02">
                    <ul>
                        <li>브랜드소개</li>
                        <li>개인정보 처리방침</li>
                        <li>공지사항</li>
                    </ul>
                </div>
                <div class="ftSection03">
                    <ul>
                        <li><a href="">앱 다운로드</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>